.todo__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: center;
	margin: 15px auto;
	color: #fff;
	background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
	padding: 16px;
	border-radius: 5px;
	width: 90%;
}

.todo__item:nth-child(4n + 1) {
	background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.todo__item:nth-child(4n + 2) {
	background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.todo__item:nth-child(4n + 3) {
	background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

/* .todo__item {
	display: flex;
	padding: 15px;
	border: 2px solid;
	border-radius: 10px;
	margin-top: 15px;
	justify-content: space-between;
	align-items: center;
} */

.todo__item_title {
	font-weight: bold;
	padding-right: 10px;
	border-right: 2px solid white;
}

.todo__item_desc {
	text-align: start;
	word-break: break-all;
	padding: 0px 10px;
}

.todo__item.complete {
	text-decoration: line-through;
	opacity: 0.4;
}

.todo__item_control {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

.todo__item_control {
	display: flex;
}

.todo__item.completed {
	background: green;
}

.todo__item.completed::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 90%;
	transform: translateY(-50%);
	padding: 0 10px;
	border-bottom: 3px rgb(126, 135, 252) solid;
	pointer-events: none;
}

.delete_icon {
	margin-right: 10px;
	color: rgb(255, 255, 255);
}

.completed_icon {
	margin-right: 10px;
	color: white;
}
